<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhocasData</title>
</head>
<body>
    <div class="selectMatch">
    <label for="match">Kies een wedstrijd:</label>
    <select name="match">
    <option value="nkir">NKIR</option>
    </select>
    </div>

    <div class="selectYear">
        <label for="year">Kies een jaar:</label>
        <select name="year">
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        </select>
        </div>

    <div class="selectField">
    <label for="field">Kies een veld:</label>
    <select name="field">
    <option value="HEj8">Heren eerstejaars acht</option>
    <option value="DEj8">Dames eerstejaars acht</option>
    </select>
    </div>

</body>
</html>